footer {
  background-color: #092334;
  height: 25vh;
  display: flex;
  align-items: center;
  padding: 0 5vw;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a h1 {
  text-transform: capitalize;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

footer ul {
  padding: 0;
}

footer p {
  text-transform: none;
  padding-bottom: 5vh;
}

.heart {
  color: #dc143c;
}

@media (min-width: 2560px) {
  footer {
    padding: 0 28vw;
  }
}

@media (max-width: 450px) {
  footer {
    display: block;
    height: fit-content;
  }

  footer h1,
  .footer-right {
    text-align: center;
    padding-top: 5vh;
  }

  footer ul {
    width: 50vw;
    margin: 0 auto;
  }

  footer p {
    text-align: center;
  }
}
