@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: 249, 250, 251;
  --primary-color: 11, 49, 73;
}

body {
  color: rgb(var(--font-color));
  background: rgb(var(--primary-color));
}
