.project {
	overflow: hidden;
	background-color: #0b3149;
	width: 275px;
	height: 300px;
	border-radius: 25px;
	margin: 15px 15px;
}

.image-wrapper {
	overflow: hidden;
	display: block;
	height: 150px;
	width: 250px;
	border-radius: 25px;
	margin: 15px auto;
}

.image {
	width: 250px;
	height: 150px;
	object-fit: cover;
	display: block;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
}

.image:hover {
	transform: scale(1.1);
}

.name {
	text-align: left;
	margin-left: 15px;
	margin-bottom: 20px;
	font-weight: 500;
}

.github {
	display: inline;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	color: #28b6d5;
	border: solid 1px #28b6d5;
	border-radius: 5px;
	padding: 5px 5px;
	margin-left: 15px;
}

.github:hover {
	background-color: #28b6d5;
	color: #092334;
}

.live {
	display: inline;
	text-transform: capitalize;
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	background-color: #28b6d5;
	color: #092334;
	border: solid 1px #28b6d5;
	border-radius: 5px;
	padding: 5px 5px;
	margin-left: 15px;
}

.live:hover {
	background-color: #249cb6;
	color: #061823;
}
