.section3 {
	background-color: #092334;
	height: auto;
	overflow: hidden;
	padding-bottom: 50px;
}

.projects {
	display: block;
	text-align: center;
	padding-top: 50px;
	color: white;
	font-weight: 500;
}

.description2 {
	text-transform: none;
	text-align: center;
	padding: 15px 0;
}

.grid2 {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: center;
	align-content: center
}

@media (max-width: 990px) {
	.grid2 {
		grid-template-columns: auto auto;
	}
}

@media (max-width: 640px) {
	.grid2 {
		grid-template-columns: auto;
	}
}
